<h1>Sign Up</h1>


<%= form_with model: @user do |form| %>

    <% if @user.errors.any? %>
        <div class="alert alert-danger">
            <% @user.errors.full_messages.each do |message| %>
                <div><%= message %></div>
        </div>
    <% end %>
    <% end %>


    <div class="mb-3">
        <%= form.label :username %>
        <%= form.text_field :username, class: "form-control" %> 

    </div>
    <div class="mb3">

        <%= form.submit "Get Started", class: "btn btn-primary" %> 

    </div>   

<% end %>