   <% time_now = DateTime.now.utc %>





<h1 class="mt-5 text-center text-success">Upcoming Events </h1>
  <table class="table">
  <thead>
    <tr class="text-center">
      <th scope="col">Host Name</th>
      <th scope="col">Event Title</th>
      <th scope="col">Event Date</th>
      <th scope="col"></th>
     
    </tr>
  </thead>
<tbody>

  <% @events.each do |event| %>
    <% if time_now < event.date %>
      <tr class="text-center">

      <td class="text-center"><%= event.creator.username %></td>
      <td class="text-center"><%= link_to event.title, event %></td>
      <td><%= event.date %></td>

       <% if set_current_user  && set_current_user.id == event.user_id %>
        <td class="text-center"><%= link_to 'Edit', edit_event_path(event) %></td>
        <td class="text-center"><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    <% end %>
   </tr>

    <% end %>


  <table class="table mt-5">
  <h1 class="mt-5 text-center text-secondary">Past Events </h1>
  <thead>
    <tr class="text-center">
      <th scope="col">Event Number</th>
      <th scope="col">Event Title</th>
      <th scope="col">Event Details</th>
      <th scope="col">Event Date</th>
    </tr>
  </thead>
<tbody>

  <% @events.each do |event| %>
  <% if time_now > event.date %>
   <tr class="text-center">
      <th scope="row"><%= event.id %></th>
      <td class="table-success text-center"><%= event.title %></td>
      <td class="text-center"><%= link_to 'Show', event %></td>
       <% if set_current_user  && set_current_user.id == event.user_id %>
        <td class="table-warning text-center"><%= link_to 'Edit', edit_event_path(event) %></td>
        <td class="table-warning text-center"><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    <% end %>
   </tr>

   
    <% end %>