
<ul class="list-group mt-3">
  <li class="list-group-item active"><%= @event.title %><%= " attendees:" %></li>

  <% @event.attendee.each do |attendee| %>
   <tr class="text-center mb-5">
        <li class="list-group-item"><%= attendee.username %></li>
      <% end %>
   </tr>
 
</ul>

<div class="text-center">
<%= editevent %>
<%= link_to 'Back', events_path , class: "btn btn-secondary mt-4" %>
</div>

