
<h4>ALL Events</h4>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>User</th>
      <th>Title</th>
      <th>Date</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
        
      <tr>
        <td><%= @event.title %></td>
        <td><%= @event.date %></td>
        <td><%= @event.location %></td>
        <td><%= @event.body %></td>
        <td>
          <%= simple_form_for(@attendance) do |f| %>
            <%= hidden_field_tag :event_id, @event.id %>
            <%= hidden_field_tag :user_id, Current.user.id, {id: 'user_user_id', title: 'user[user_id]'}%>
            <%= f.button :submit, class:"btn btn-primary" %>
        <% end %>
      </td>
      
      </tr>
  </tbody>
</table>

<%= link_to "Back", root_path %>